[submodule "Firmware/OTPManagerFirmware/src/U8g2_Arduino"]
	path = Firmware/Libraries/U8g2_Arduino
	url = https://github.com/olikraus/U8g2_Arduino.git
[submodule "Firmware/ArduinoCmakeBuilder"]
	path = Firmware/ArduinoCmakeBuilder
	url = https://github.com/DarkCaster/ArduinoCmakeBuilder.git
[submodule "Firmware/Libraries/Micro-AES-Arduino"]
	path = Firmware/Libraries/Micro-AES-Arduino
	url = https://github.com/DarkCaster/Micro-AES-Arduino.git
[submodule "Firmware/Libraries/DS3231_Simple"]
	path = Firmware/Libraries/DS3231_Simple
	url = https://github.com/sleemanj/DS3231_Simple.git
[submodule "Firmware/Libraries/Low-Power"]
	path = Firmware/Libraries/Low-Power
	url = https://github.com/rocketscream/Low-Power.git
