#Ignore files build by Visual Studio
*.userprefs
*.csproj.user
**/[Bb]in/[Dd]ebug*/
**/[Oo]bj/[Dd]ebug*/
**/[Bb]in/[Rr]elease*/
**/[Oo]bj/[Rr]elease*/
_ReSharper*/
**/gtk-gui/*.cs
/*.suo
**/[Pp]ackages/*
/NuGet.Config
/External/dist/
/.vs/
